---
layout: default
title: All Posts
permalink: /all/
---

<div class="home">
  <h2 class="page-heading">归档</h2>

    <ul class="year">
    {% for post in posts %}
      
        <li>
          {% if post.lastmod %}
            <a href="{{ post.url | relative_url}}">{{ post.title }}</a>
            <span class="date">{{ post.lastmod | date: "%Y-%m-%d"  }}</span>
          {% else %}
            <a href="{{ post.url | relative_url}}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>
          {% endif %}
        </li>
      
    {%- endfor -%}
  </ul>
  
</div>