---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <div class="article-previous-next clearfix">
	{%- if page.next -%}
		{%- assign __path = page.next.url -%}
		{%- include prepend-baseurl.html -%}
		{%- assign href = __return -%}
		{%- assign __locale = site.data.locale.PREVIOUS -%}
		{%- include locale-to-string.html -%}
		<div class="article-previous">下一篇：<span>{{ __return }}</span><a href="{{ href }}">{{ page.next.title }}</a></div>
	{%- endif -%}
	{%- if page.previous -%}
		{%- assign __path = page.previous.url -%}
		{%- include prepend-baseurl.html -%}
		{%- assign href = __return -%}
		{%- assign __locale = site.data.locale.NEXT -%}
		{%- include locale-to-string.html -%}
		<div class="article-next">上一篇：<span>{{ __return }}</span><a href="{{ href }}">{{ page.previous.title }}</a></div>
	{%- endif -%}
</div>
  {% include comment.html %}

</div>
